auto-save-list
*~
eshell
.cask
url
server
projectile-bookmarks.eld
projectile.cache
init.el.local
tramp
speed-type
semanticdb
ido.last
smex-items
ensime
elpa
network-security.data
abbrev_defs
var
transient
