[submodule "lisp/paredit"]
	path = lisp/paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule "lisp/smartparens"]
	path = lisp/smartparens
	url = https://github.com/Fuco1/smartparens.git
[submodule "lisp/haskell-mode"]
	path = lisp/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "lisp/ghc-mod"]
	path = lisp/ghc-mod
	url = https://github.com/emacsmirror/ghc-mod.git
[submodule "lisp/slime-company"]
	path = lisp/slime-company
	url = https://github.com/emacsmirror/slime-company.git
[submodule "lisp/slime"]
	path = lisp/slime
	url = https://github.com/emacsmirror/slime.git
[submodule "lisp/distel"]
	path = lisp/distel
	url = https://github.com/massemanet/distel.git
[submodule "lisp/wrangler"]
	path = lisp/wrangler
	url = https://github.com/RefactoringTools/wrangler.git
[submodule "lisp/fuel"]
	path = lisp/fuel
	url = https://github.com/mcandre/fuel.git
[submodule "lisp/pymacs"]
	path = lisp/pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "lisp/erlang-mode"]
	path = lisp/erlang-mode
	url = https://github.com/asvyazin/erlang-mode.git
[submodule "lisp/goflymake"]
	path = lisp/goflymake
	url = https://github.com/dougm/goflymake.git
